

.img1{
    width: 200px;
    height: 200;
}

.img2{
    width: 200px;
    height: 200;
}

.p{
    background-color:rgba(0, 0, 255, 0.336);

}

body {
    background-color: lightblue;
}